@model AddVehicle
@{

    Layout = "~/views/shared/_layout.cshtml";

}
<!doctype html>
<html lang="en">

<head>
    <title>Bidgen - Bid and Auction HTML Template</title>
</head>

<body>


    <!-- ===============  search area start =============== -->

    <div class="mobile-search">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <label>What are you lookking for?</label>
                    <input type="text" placeholder="Search Products, Category, Brand">
                </div>
                <div class="col-1 d-flex justify-content-end align-items-center">
                    <div class="search-cross-btn">
                        <!-- <i class="bi bi-search me-4"></i> -->
                        <i class="bi bi-x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb breadcrumb-style-one mb-0 ">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1 class="breadcrumb-title">Auction Details</h1>
                <ul class="d-flex justify-content-center breadcrumb-items">
                    <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Auction Details</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- =============== breadcrumb area end =============== -->
    <!-- =============== auction details start =============== -->
    <section class="auction-details-section pt-110">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-6">
                    <!-- item-bid-timer -->
                    <div class="item-bid-timer">
                        <div class="auction-bid">
                            <p>Current Bid</p>
                            <h5>$20,0379.00</h5>
                        </div>
                        <div class="auction-timer">
                            <div class="countdown" id="timer4">
                                <h6><span id="days4"></span>D :<span id="hours4"></span>H : <span id="minutes4"></span>M :  <span id="seconds4"></span>S</h6>
                            </div>

                        </div>
                    </div>
                    <!-- item-details-gallery -->
                    <div class="tab-content">
                        @if (Model.VehicleImages.Count > 0)
                        {
                            int count = 1;
                            foreach (var item in Model.VehicleImages)
                            {
                                <div class="tab-pane big-image fade show @(count==1?"active":"")" id="gallery-img_@count">
                                    <span class="eg-badge">ID 0195638</span>
                                    <img src="@Url.Content(item.ImagePath)" alt="">
                                </div>
                                count++;
                            }
                        }
                    </div>

                    <ul class="nav small-image-list d-flex justify-content-md-between justify-content-center gap-md-4 gap-2">
                        @if (Model.VehicleImages.Count > 0)
                        {
                            int count = 1;
                            foreach (var item in Model.VehicleImages)
                            {
                                <li class="nav-item">
                                    <div id="details-img1"data-bs-toggle="pill" data-bs-target="#gallery-img_@count" aria-controls="gallery-img_@count">
                                        <img src="@Url.Content(item.ImagePath)" alt="" width="100">
                                    </div>
                                </li>
                                count++;
                            }
                        }
                    </ul>

                    <!-- item-describe-area -->
                    <div class="item-describe-area">
                        <ul class="nav nav-pills d-flex justify-content-center gap-sm-4 gap-1" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active describe-btn" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                     History
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link describe-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Ownership</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link describe-btn" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Additional Information</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="describe-content">
                                    <p class="mb-15">
                                      Vehicle Purchase Month/Year: <b> @Model.VehiclePurchaseMoth/@Model.VehiclePurchaseYear</b></p>
                                    <p>Miles Or Kilometers Added During OwnerShip:<b>@Model.Vmiles</b>@Model.mileageDistanceUnit</p>
                                    <p>Vehicle OwnerShip History/Remarks:  <b>@Model.VehicleOwnerShipHistory</b>/@Model.VownershipRemarks</p>
                                    <p> vehicle Accdient/Remarks: <b>@Model.Vaccident </b>/@Model.VaccidentRemarks </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="map-area">
                                    <p>
                                    <p>dealer, or a private seller:@Model.VSeller</p>
                                    <p>Title Status:@Model.Vtitled</p>
                                    <p>Select State:@Model.VehicleLocated</p>
                                    <p>vehicle located:@Model.VehicleLocated</p>
                                    <p>Auction Type:@Model.Reserve</p>
                                    </p>
                               </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="map-area">
                                    <p>Additional Information:@Model.AdInfoRemarks</p>
                                </div>
                            </div>
                        </div>

                        <!-- details-social-area -->
                        <div class="details-social-area">
                            <h5 class="wdget-title">Share Now</h5>
                            <ul>
                                <li><a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="https://twitter.com"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="https://www.pinterest.com"><i class='bx bxl-pinterest-alt'></i></a></li>
                                <li><a href="https://www.instagram.com"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                @if (Model != null)
                {
                    <div class="col-lg-6">
                        <div class="widget-right-area">
                            <h4>@Model.FullName</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit</p>
                            <div class="single-widget">
                                <h5 class="wdget-title">Product Overview</h5>
                                <ul class="widget-list">
                                    <li><span>Year :</span><span>@Model.FullName</span></li>
                                    <li><span>Make :</span><span>@Model.Make</span></li>
                                    <li><span>Model :</span><span>@Model.Model</span></li>
                                    <li><span>Vehicle Identification Number (VIN) :</span><span>@Model.VIN</span></li>
                                    <li><span>Current odometer reading :</span><span>@Model.COR</span></li>
                                    <li><span> odometer reading reflect :</span><span>@Model.CORType</span></li>
                                    <li><span>Vehicle month/year :</span><span>@Model.VehiclePurchaseMoth/@Model.Year</span></li>
                                    <li><span>State :</span><span>@Model.TitleState</span></li>
                                    <li><span>vehicle located :</span><span>@Model.VehicleLocated</span></li>
                                    <li><span>Reserve :</span><span>@Model.Reserve</span></li>
                                </ul>
                            </div>
                            <div class="single-widget">
                                <h5 class="wdget-title wdget-title2">Bid Now</h5>
                                <p class="widget-subtitle">Bid Amount : Minimum Bid 20.00$</p>
                                <div class="widget-form">
                                    <div class="form-group d-flex justify-content-center align-items-center">
                                        <input type="text" placeholder="$00.00" id="txtBidAmount">
                                        <button class="widget-btn" id="btn_PlaceBid" onclick="SaveBid('@Model.AvId')">Place Bid</button>

                                    </div>

                                </div>
                            </div>
                            <div class="single-widget">
                                <h5 class="wdget-title">Bidding History</h5>
                                @if (Model.Bids.Count>0)
                                {
                                    foreach (var item in Model.Bids)
                                    {
                                        <div class="bidding-item gap-sm-4 gap-2">
                                            @*<div class="bidding-img">
                                                <img src="assets/images/buyer/bid-histo1.png" alt="">
                                            </div>*@
                                            <div class="bidding-content">
                                                <h6><a href="winner.html">@item.User.FullName</a></h6>
                                                <p>Bid Amount: <b>$@item.BidAmount</b></p>
                                                <p>Dated: <b>@item.CreatedDate.ToLongDateString()</b></p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- =============== auction details end =============== -->
    <!-- =============== best auction start =============== -->

    <section class="best-auction-section pt-110">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-eg">
                        <h3>Best Related Auction</h3>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                @foreach (var item in (List<AddVehicle>)TempData["RelatedAuctions"])
                {
                <div class="col-lg-4 col-md-6 ">
                    <div class="product-card product-beta-md">
                        <div class="product-header">
                                <h5 class="product-title"><a href="product-details.html">@item.FullName</a></h5>
                                <h4 class="price">@item.Make</h4>
                        </div>

                        <div class="product">
                                <img src="@Url.Content(item.VehicleImages.FirstOrDefault().ImagePath)">
                            <div class="id"><span>ID 0195667</span></div>
                        </div>

                        <div class="product-disc">
                            <div class="product-acution">
                                <div class="cv">
                                    <span>current Bid</span>
                                    @if(item.Bids.Count()>0)
                                        {
                                            <h6>@item.Bids.FirstOrDefault().BidAmount.ToUpper()</h6>
                                        }
                                        else
                                        {
                                            <div class="countdown" id="week-countdown1">
                                                <h6>&nbsp;</h6>
                                                <span>Waiting For Bid</span>
                                            </div>
                                        }
                                    </div>
                            
                            </div>

                                <a href="~/Vehicle/AuctionDetails?AvId=@item.AvId" class="bid-btn">Submit A Bid</a>
                        </div>
                    </div>
                </div>
                }
               
            </div>
        </div>
    </section>

    <!-- =============== best auction end =============== -->
    <!-- =============== footer area start=============== -->
    <!-- Custom JavaScript -->
    @*  <script src="assets/js/main.js"></script>*@
    <script>
        function SaveBid(Id) {
            debugger;
            var BidAmount = $("#txtBidAmount").val();
            if (BidAmount == "") {
                swal("Error", "Please enter a valid amount.", "error");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/Vehicle/SaveBid",
                data: { VehicleId: Id, amount: BidAmount },
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        swal("Saved!", "Your Bid Has Been Saved Succesfully.", "success");
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    }
                    else {
                        swal("Error!", "Something went wrong.", "error");
                        return false;
                    }
                },
                error: function () {
                    swal("Error", "Something went wrong.", "error");
                }
            });
            return false;
        }
    </script>

</body>

</html>