@model AMSModels.AddVehicleView
@{

    Layout = "~/views/shared/_layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <title>Bidgen - Bid and Auction HTML Template</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        .button {
            min-width: 80px;
            font-family: "Barlow Semi Condensed", Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            background: rgb(225, 226, 227);
            padding: 9px 24px;
            border: none;
        };
       a, button {
            cursor: pointer;
            }
        
        .button:hover {
      background-color:white;
      transition: 0.7s;
  }
        .button:active{
            background-color: #002ead;
        }
        .pe{
            font-size: 20px;
            font-family: 'Barlow Semi Condensed';
            color: #2C2E31;
            font-weight: 400;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            text-align: undefined;
            text-transform: inherit;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 18px;
            line-height: 26px;
            color: #3B3E41;
            line-height: 30px;
        }
    </style>
    <style type="text/css">
.btnstyle{
            min-width: 80px;
            font-family: "Barlow Semi Condensed", Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            background: rgb(225, 226, 227);
            padding: 9px 24px;
            border: none;
}

            .btnstyle:active {
                background-color: #f7f7f7;
        }
        .bgground{
            background-color:#f7f7f7;
        }

        .css-1q1372q {
            padding-left: 16px;
            font-family: Barlow Semi Condensed,Roboto,Helvetica,Arial,sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            cursor: pointer;
            color: #2C2E31;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
        }

        .css-p0tcy3 {
            font-family: 'Faustina';
            color: #986842;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            text-align: left;
            font-size: 32px;
            line-height: 40px;
        }

        .css-11b4gb5 {
            width: 100%;
            appearance: none;
            outline: none;
            border-radius: 0px;
            padding: 10px 16px;
            font-family: "Barlow Semi Condensed";
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            border: 1px solid rgb(180, 181, 182);
            color: rgb(44, 46, 49);
            caret-color: rgb(152, 104, 66);
            resize: none;
        }

        .css-7jf5cu {
            font-family: 'Barlow Semi Condensed';
            color: #2C2E31;
            font-weight: 600;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 16px;
            margin-left: 0px;
            text-align: undefined;
            text-transform: inherit;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 20px;
            line-height: 30px;
        }
        .css-foou8n {
            background: #F7F7F7;
            padding: 24px;
            padding-bottom: 24px;
        }

        .css-1a77sk6 {
            font-family: 'Barlow Semi Condensed';
            color: #2C2E31;
            font-weight: 600;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-top: 64px;
            margin-right: 0px;
            margin-bottom: 24px;
            margin-left: 0px;
            text-align: undefined;
            text-transform: inherit;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 20px;
            line-height: 30px;
        }

        .css-1rpfd8x {
            font-family: 'Barlow Semi Condensed';
            color: #2C2E31;
            font-weight: 400;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            text-align: undefined;
            text-transform: inherit;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 18px;
            line-height: 26px;
            color: #3B3E41;
        }

        .css-348ps2 {
            background: #F7F7F7;
            padding: 24px;
            padding-bottom: 24px;
            margin-bottom: 4px;
        }

        .css-1v0z9x1 {
            min-width: 80px;
            font-family: "Barlow Semi Condensed", Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            background: rgb(225, 226, 227);
            padding: 9px 24px;
            border: none;
        }

            .css-1v0z9x1:hover {
                background: rgb(255, 255, 255);
                color: rgb(152, 104, 66);
            }
</style>
    
    <script>
        $(document).ready(function () {
            $("#btnCorTypeYes").click(function () {
                $("#btnCorTypeYes").css("background-color", "rgb(225, 226, 227)");
                $("#btn_CorTypeNo").css("background-color", "White");
                $("#CORTypeYN").show();
            });
            $("#btn_CorTypeNo").click(function () {
                $("#btnCorTypeYes").css("background-color", "White");
                $("#btn_CorTypeNo").css("background-color", "rgb(225, 226, 227");
                //$(".btnCorTypeYes").removeClass("active");
                //$(".tbtn_CorTypeNoab").addClass("active");CORTypeYN
                $("#CORTypeYN").css("display", "none");
            });
            //Start--> Do you know anything about this vehicle's prior ownership or history?
            $("#btn_VehicleOwnerShipHistoryY").click(function () {
                $("#btn_VehicleOwnerShipHistoryY").css("background-color", "rgb(225, 226, 227)");
                $("#btn_VehicleOwnerShipHistoryN").css("background-color", "White");
                $("#VehicleOwnerShipHistory").show();
            });
            $("#btn_VehicleOwnerShipHistoryN").click(function () {
                $("#btn_VehicleOwnerShipHistoryY").css("background-color", "White");
                $("#btn_VehicleOwnerShipHistoryN").css("background-color", "rgb(225, 226, 227");
                $("#VehicleOwnerShipHistory").css("display", "none");
            });
            //End--->
            //Start--> Vehicle Accident
            $("#btn_VehicleAccidentY").click(function () {
                $("#btn_VehicleAccidentY").css("background-color", "rgb(225, 226, 227)");
                $("#btn_VehicleAccidentN").css("background-color", "White");
                $("#VehicleAccident").show();
            });
            $("#btn_VehicleAccidentN").click(function () {
                $("#btn_VehicleAccidentY").css("background-color", "White");
                $("#btn_VehicleAccidentN").css("background-color", "rgb(225, 226, 227");
                $("#VehicleAccident").css("display", "none");
            });
            //End--->
            
            //Start--> Vehicle dealership
            $("#btn_VehicleDmgRprY").click(function () {
                $("#btn_VehicleDmgRprY").css("background-color", "rgb(225, 226, 227)");
                $("#btn_VehicleDmgRprN").css("background-color", "White");
                $("#VehicleDamageRepair").show();
            });
            $("#btn_VehicleDmgRprN").click(function () {
                $("#btn_VehicleDmgRprY").css("background-color", "White");
                $("#btn_VehicleDmgRprN").css("background-color", "rgb(225, 226, 227");
                $("#VehicleDamageRepair").css("display", "none");
            });
            //End--->
            //Start--> Vehicle Damage Repair
            $("#rdrPrivate").click(function () {
                $("#PartyDealer").show();
                $("#PrivateDealer").hide();
            });
            $("#rdrseller").click(function () {
                $("#PrivateDealer").show();
                $("#PartyDealer").hide();
            });
            //End--->
            //Start--> Vehicle Owner
            $("#btn_VehicleEntitledonNameY").click(function () {
                $("#btn_VehicleEntitledonNameY").css("background-color", "White");
                $("#btn_VehicleEntitledonNameN").css("background-color", "rgb(225, 226, 227");
                $("#VehicleEntitledOwner").hide();
            });
            $("#btn_VehicleEntitledonNameN").click(function () {
                $("#VehicleEntitledOwner").show();
                $("#btn_VehicleEntitledonNameN").css("background-color", "White");
                $("#btn_VehicleEntitledonNameY").css("background-color", "rgb(225, 226, 227");
                $("#VehicleReserve").show();
            });
            //End--->
            //Start--> Reserve Non Reserve
            $("#NonReserve").click(function () {
                $("#VehicleReserve").hide();
            });
            $("#Reserve").click(function () {
                $("#VehicleReserve").show();
             });
            //End--->

            //Start--> Additional Info
            $("#AddInfoY").click(function () {
                debugger;
                $("#AddInfoR").show();
            });
            $("#AddInfoN").click(function () {
                $("#AddInfoR").hide();
            });
            //End--->
            var maxchars = 2;
            var maxYear = 4;
            $('#VehiclePurchaseMoth').keyup(function () {
                debugger;
                var tlength = $(this).val().length;
                $(this).val($(this).val().substring(0, maxchars));
                var tlength = $(this).val().length;
                remain = maxchars - parseInt(tlength);
                $('#VehiclePurchaseMoth').text(remain);
            });
            $('#VehiclePurchaseYear').keyup(function () {
                debugger;
                var tlength = $(this).val().length;
                $(this).val($(this).val().substring(0, maxYear));
                var tlength = $(this).val().length;
                remain = maxYear - parseInt(tlength);
                $('#VehiclePurchaseYear').text(remain);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#CORTypeYN").css("display", "none");
            $("#VehicleOwnerShipHistory").css("display", "none"); 
            $("#VehicleAccident").css("display", "none");
            $("#VehicleDamageRepair").css("display", "none");
            $("#PartyDealer").css("display", "none");
            $("#PrivateDealer").css("display", "none");
            $("#VehicleEntitledOwner").css("display", "none");
            $("#VehicleReserve").css("display", "none"); 
           $("#AddInfoR").css("display", "none"); 
        });
    </script>
</head>

<body>
    <section class="register-section pt-110">
        <div class="container">
           
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="right-form-area">
                            <p class=" css-p0tcy3 e1kqzanz2">Submit your vehicle</p><p class="chakra-text css-1b7ciod e1kg4do43">
                                Please submit this initial form to provide us with basic information about your vehicle. <strong>We typically reply within one business day</strong>
                                , and might ask some additional questions to confirm if your vehicle is a good fit for auction.<br><br><strong>
                                    Need help taking photos? View our
                                    <a target="_blank" rel="noopener noreferrer" class="chakra-link css-1tue41d" href="/pdf/photo-tips-and-checklist.pdf">Photo Guide</a>!
                                </strong>
                            </p>
                        <form action="vehiclesubmission" method="post" enctype="multipart/form-data" class="w-100">
                            <div class="pe bgground">
                                <p class="css-7jf5cu e1kg4do42">Your Info</p><div class="css-15rk5s6">
                                    <p class="css-1rpfd8x e1kg4do43">Full name</p>
                                    <div class="css-zoser8">
                                        <div class="css-j7qwjs">
                                            <div class="css-bjn8wh ea6uyek0">
                                                <input type="text" name="FullName" spellcheck="true" class="form-control" value="@Model.FullName" placeholder="Your FullName">
                                                @Html.ValidationMessageFor(x=>x.FullName,string.Empty,new {@class="text-danger"})
                                               
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="css-1rpfd8x e1kg4do43">Vehicle Details</p>
                            <div class="pe bgground">
                                <p class="css-1rpfd8x e1kg4do43">Year</p>
                                <div class="css-wjyzxx">
                                    <div class=" css-1obpye2 e1iejzzq11">
                                        <div class="css-mk1o7y e1iejzzq5">
                                            <input type="number" placeholder="Enter year"  name="Year"  class="form-control" >
                                                 
                                            </div>
                                    </div>
                                </div>
                            </div><div class="pe bgground">
                                <h5>Make</h5><div class="css-zoser8"><div class="css-j7qwjs"><div class="css-bjn8wh ea6uyek0">
                                <input spellcheck="true" id="2" name="Make" placeholder="Enter car manufacturer" class="form-control" value="@Model.Make" ></div></div></div>
                               @Html.ValidationMessageFor(x=>x.Make,string.Empty,new {@class="text-danger"})
                            </div><div class="pe bgground">
                                <h5>
                                    Model
                                </h5><div class="pe bgground">
                                    <div class="pe bgground">
                                        <div class="css-bjn8wh ea6uyek0">
                                            <input spellcheck="true" id="3" name="Model" placeholder="Enter model" data-invalid="false" class="form-control" value="@Model.Model">
                                           @Html.ValidationMessageFor(x=>x.Model,string.Empty,new {@class="text-danger"})
                                        </div>
                                    </div>
                                </div>
                            </div><div class="pe bgground">
                                <h5>Vehicle Identification Number (VIN)</h5><div class="css-zoser8">
                                    <div class="css-j7qwjs">
                            <div class="css-bjn8wh ea6uyek0">
                                            <input spellcheck="true" id="4" name="VIN" maxlength="17" placeholder="Enter VIN" value="@Model.VIN">
                                           @Html.ValidationMessageFor(x=>x.VIN,string.Empty,new {@class="text-danger"})
                                        </div>
                                    </div>

                                </div>
                            </div><div class="pe bgground">
                                <p class="css-1rpfd8x e1kg4do43">Current odometer reading</p>
                            <div class="css-zoser8"><div class=" css-1obpye2 e1iejzzq11"><div class="css-mk1o7y e1iejzzq5">
                                            <input type="number" placeholder="Enter current odometer reading" min="0" name="COR" value="">
                                           @Html.ValidationMessageFor(x=>x.COR,string.Empty,new {@class="text-danger"})
                                        </div>
                                    </div>
                            <div class="chakra-stack css-115qsau">
                            <label class="css-datla1 e1e6pj724">
                                            <input type="radio" value="MILES" name="CORType">
                            <span class="radio-text css-1q1372q e1e6pj720">Miles</span></label>
                            <label class="css-datla1 e1e6pj724">
                                            <input type="radio" value="KILOMETERS" name="CORType" >
                            <span class="radio-text css-1q1372q e1e6pj720">Kilometers</span></label></div></div></div>
                            <div class="css-12zwvwm">
                            <p class="css-1rpfd8x e1kg4do43">Does the above odometer reading reflect the total mileage on this vehicle?</p>
                            <div class="css-zoser8"><div><div class="css-1q701y2 eddhcra1">
                                            <button type="button" name="odometerreadingreflect" value="Yes" class="button" id="btnCorTypeYes">Yes</button>
                                            <button type="button" name="odometerreadingreflect" value="No" class="button" id="btn_CorTypeNo">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="chakra-collapse" style="overflow: initial; display:block; opacity: 1; height: auto;" id="CORTypeYN">
                                <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
<p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs"><div class="css-bjn8wh e1coey30">
<textarea id="OORMilegeRemarks" name="OORMilegeRemarks" placeholder="Enter current odometer reading details" rows="9">
</textarea> @Html.ValidationMessageFor(x=>x.OORMilegeRemarks,string.Empty,new {@class="text-danger"})
                                        </div>
                                    </div>
                                </div>
                            </div> <p class="css-1a77sk6 e1kg4do42">Vehicle History &amp; Condition</p>
                            <div class="css-348ps2"><p class="css-1rpfd8x e1kg4do43">What month/year did you purchase this vehicle?</p><div class="css-zoser8">
                            <div name="purchaseDate" class="css-0">
                            <div >
                                            <input type="text" placeholder="MM" value="@Model.VehiclePurchaseMoth" id="VehiclePurchaseMoth" style="width:100px" name="VehiclePurchaseMoth">
                                            @Html.ValidationMessageFor(x=>x.VehiclePurchaseMoth,string.Empty,new {@class="text-danger"})
                                            <input type="text" placeholder="YYYY" id="VehiclePurchaseYear" value="@Model.VehiclePurchaseYear" style="width:100px" name="VehiclePurchaseYear">
                                           @Html.ValidationMessageFor(x=>x.VehiclePurchaseYear,string.Empty,new {@class="text-danger"})
                            </div></div></div></div><div class="css-348ps2">
                                <p class="css-1rpfd8x e1kg4do43">How many miles (or kilometers) have been added during your ownership?</p>
                                <div class="css-zoser8">
                                    <div class=" css-1obpye2 e1iejzzq11">
                                        <div class="css-mk1o7y e1iejzzq5">
                                            <input type="number" spellcheck="false" autocorrect="off" placeholder="Enter miles/kilometers" min="0" name="Vmiles" value="" data-invalid="false" data-has-prefix="false" class="css-1npp8pm e1iejzzq4" fdprocessedid="zajta8">
                                           @Html.ValidationMessageFor(x=>x.Vmiles,string.Empty,new {@class="text-danger"})
                                            </div>
                                    </div><div class="chakra-stack css-115qsau">
                                        <label class="css-datla1 e1e6pj724">
                                        <input type="radio" value="MILES" name="mileageDistanceUnit" class="css-1rrqi1o e1e6pj723">
                                        <span class="radio-text css-1q1372q e1e6pj720">Miles</span></label><label class="css-datla1 e1e6pj724">
                                            <input type="radio" value="KILOMETERS" name="mileageDistanceUnit" class="css-1rrqi1o e1e6pj723">
                                            <span class="radio-text css-1q1372q e1e6pj720">Kilometers</span>
                                        </label>
                                    </div>
                                </div>
                            </div><div class="css-348ps2">
                                <p class="css-1rpfd8x e1kg4do43">Do you know anything about this vehicle's prior ownership or history?</p><div class="css-1s9ifpo">
                                    <div>
                                        <div class="css-1q701y2 eddhcra1">
                                            <button type="button" class="btnstyle" name="VehicleOwnerShipHistory" value="1" id="btn_VehicleOwnerShipHistoryY">Yes</button>
                                            <button type="button" class="btnstyle" name="VehicleOwnerShipHistory" value="0" id="btn_VehicleOwnerShipHistoryN">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="chakra-collapse" style="overflow: initial; display:block; opacity: 1; height: auto;" id="VehicleOwnerShipHistory">
                                    <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                    <p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs">
                                        <div class="css-bjn8wh e1coey30">
                                            <textarea id="OORMilegeRemarks"  name="VownershipRemarks" placeholder="Enter vehicle's prior ownership or history" rows="6">
                                            </textarea>
                                        </div>
                                    </div>
                               
                                </div>
                            </div><div class="css-348ps2"><p class="css-1rpfd8x e1kg4do43">To your knowledge, has this vehicle ever been in an accident?</p>
                            <div class="css-1s9ifpo"><div><div class="css-1q701y2 eddhcra1">
                                            <button aria-pressed="false" type="button" class="btnstyle" name="btnVehicleAccident" value="1" id="btn_VehicleAccidentY">Yes</button>
                                            <button aria-pressed="false" type="button" name="btnVehicleAccident" class="btnstyle" value="0" id="btn_VehicleAccidentN">NO</button>
                                        </div>
                                    </div>     <div class="chakra-collapse" style="overflow: initial; display:block; opacity: 1; height: auto;" id="VehicleAccident">
                                        <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                        <p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs">
                                            <div class="css-bjn8wh e1coey30">
                                                <textarea id="VaccidentRemarks" name="VaccidentRemarks" placeholder="Enter cvehicle accident" rows="6">
                                            </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pe bgground">
                                <p class="css-1rpfd8x e1kg4do43">Does this vehicle have any current or prior damage/repairs that we should know about?</p>
                                <div class="css-1s9ifpo">
                                    <div>
                                        <div class="css-1q701y2 eddhcra1">
                                            <button aria-pressed="false" type="button" class="btnstyle" name="VDamage" value="1" id="btn_VehicleDmgRprY">Yes</button>
                                            <button aria-pressed="false" type="button" class="btnstyle" name="VDamage" value="0" id="btn_VehicleDmgRprN">NO</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="chakra-collapse" style="overflow: initial; display:block; opacity: 1; height: auto;" id="VehicleDamageRepair">
                                    <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                    <p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs">
                                        <div class="css-bjn8wh e1coey30">
                                            <textarea id="VDamageRemarks" name="VDamageRemarks" placeholder="Enter Vehicle Damage Repair Remarks" rows="6">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Ownership, Title &amp; Location</h1>
                            <div class="pe bgground">
                                <p>Are you a dealer, or a private seller?</p><!-- -->
                                <span id="popover-trigger-6" aria-haspopup="dialog" aria-expanded="false" aria-controls="popover-content-6" class="css-1lv1yo7">
                                <svg class="css-1saok50" width="18" height="18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 1.5a7.5 7.5 0 100 15 7.5 7.5 0 000-15zM.5 9a8.5 8.5 0 1117 0 8.5 8.5 0 01-17 0z" fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 13.975V8h2v6l-2-.025zM8 6V4h2v2H8z" fill="currentColor"></path></svg></span></p>
                                <div class="css-h0wyg4 bgground">
                                    <div class="chakra-stack css-lgrcba">
                                        <label class="css-datla1 e1e6pj724">
                                            <input type="radio" value="DEALER" id="rdrseller" name="sellerType" class="css-1rrqi1o e1e6pj723">
                                            <div class="radio-selected-icon css-p0nk8c e1e6pj722"></div>
                                            <div class="radio-unselected-icon css-ebo14d e1e6pj721"></div>
                                            <span class="radio-text css-1q1372q e1e6pj720">Dealer</span>
                                        </label><label class="css-datla1 e1e6pj724">
                                        <input type="radio" value="PRIVATE" id="rdrPrivate" name="sellerType" class="css-1rrqi1o e1e6pj723">
                                        <div class="radio-selected-icon css-p0nk8c e1e6pj722"></div>
                                        <div class="radio-unselected-icon css-ebo14d e1e6pj721"></div><span class="radio-text css-1q1372q e1e6pj720">Private Party</span></label>
                                    </div>
                                    <div id="PartyDealer" class="chakra-collapse" style="overflow: initial; display: block; opacity: 1; height: auto;"><hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                        <p class="css-mk2iwq e1kg4do43">What is the name of your dealership? Please also list your website below.</p>
                                        <input type="text" placeholder="Enter DealerName And Website Here" value="@Model.DealerName" name="DealerName">
                                        <div>
                                            <div class="css-1q701y2 eddhcra1">
                                                <button aria-pressed="true" type="button" class="css-1v0z9x1 eddhcra0" fdprocessedid="9cgeg">Yes</button>
                                    <button aria-pressed="false" type="button" class="css-1v0z9x1 eddhcra0" fdprocessedid="uf2fp">No</button></div></div></div>
                                    <div id="PrivateDealer" class="chakra-collapse" style="overflow: initial; display: block; opacity: 1; height: auto;">
                                        <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                        <p class="css-mk2iwq e1kg4do43">Is this vehicle titled in your name?</p><div>
                                            <div class="css-1q701y2 eddhcra1">
                                                <button type="button" class="btnstyle" id="btn_VehicleEntitledonNameY">Yes</button>
                                                <button type="button" class="btnstyle" id="btn_VehicleEntitledonNameN">No</button>
                                            </div>
                                        </div>
                                        <div class="chakra-collapse bgground" style="overflow: initial; display:block; opacity: 1; height: auto;" id="VehicleEntitledOwner">
                                            <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                            <p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs">
                                                <div class="css-bjn8wh e1coey30">
                                                    <input type="text" placeholder="Enter Title/OwnerShip Details" value="@Model.OwnerDetails" style="width:300px" name="OwnerDetails">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class="pe bgground">
                                <p>
                                   
                                    Title Status<!-- -->
                            <span id="popover-trigger-8" aria-haspopup="dialog" aria-expanded="false" aria-controls="popover-content-8" class="css-1lv1yo7">
                            <svg class="css-1saok50" width="18" height="18" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 1.5a7.5 7.5 0 100 15 7.5 7.5 0 000-15zM.5 9a8.5 8.5 0 1117 0 8.5 8.5 0 01-17 0z" fill="currentColor"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 13.975V8h2v6l-2-.025zM8 6V4h2v2H8z" fill="currentColor"></path></svg></span></p>
                            <div class="css-zoser8">
                            <div class="css-1yic1r9 e7u4x2y8" data-invalid="false">
                            <div class="select-container css-2b097c-container"><span aria-live="polite" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class="select__control css-yk16xz-control"><div class="select__value-container css-1hwfws3">
                            <div class="select__placeholder css-1wa3eu0-placeholder">Select title status</div>
                                                   <select id="StudentGender" name="Vtitled">
                                                        <option>Clean</option>
                                                        <option>Salvage</option>
                                                        <option>Rebuilt</option>
                                                        <option>Othe Explain(Below)</option>
                                                    </select>
                                                </div>
                            <div class="select__indicators css-1wy0on6">
                            <div class="select__indicator select__dropdown-indicator css-tlfecz-indicatorContainer" aria-hidden="true"><svg color="primary3" class="e7u4x2y7 css-qtklg1 etpyxlq1" fill="none" height="24" viewBox="0 0 24 24" width="24">
                            <path d="m3 9 9 7 9-7" stroke-width="2" stroke="currentColor"></path></svg></div></div></div><input type="hidden" name="titleStatus" value=""></div></div></div></div><div class="css-ftpowt"><p class="css-1rpfd8x e1kg4do43">
                            What state is the vehicle titled in?
                                    <select id="StudentGender" name="Vtitled">
                                        <option>Clean</option>
                                        <option>Salvage</option>
                                        <option>Rebuilt</option>
                                        <option>Othe Explain(Below)</option>
                                    </select><div class="css-zoser8">
                                        <div class="css-1yic1r9 e7u4x2y8" data-invalid="false">
                                            <div class="select-container css-2b097c-container">
                                                <span aria-live="polite" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span><div class="select__control css-yk16xz-control">
                                                    <div class="pe bgground"><div class="select__placeholder css-1wa3eu0-placeholder">Select state</div><input id="react-select-default-input" readonly="" tabindex="0" value="" aria-autocomplete="list" class="css-62g3xt-dummyInput"></div>
                            <div class="select__indicators css-1wy0on6">
                            <div class="select__indicator select__dropdown-indicator css-tlfecz-indicatorContainer" aria-hidden="true"><svg color="primary3" class="e7u4x2y7 css-qtklg1 etpyxlq1" fill="none" height="24" viewBox="0 0 24 24" width="24"><path d="m3 9 9 7 9-7" stroke-width="2" stroke="currentColor"></path></svg></div></div></div><input type="hidden" name="titledIn" value=""></div></div></div></div>
                            <div class ="pe bgground">
                            <p class="css-1rpfd8x e1kg4do43">Where is the vehicle located?</p>
                                <div class="pe bgground">
                                    <div>
                                        <div>
                                            <input spellcheck="true" id="11" name="VehicleLocated" placeholder="Enter City, State, and ZIP code" value="@Model.VehicleLocated">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="pe bgground">Reserve</p><div class ="pe bgground">
                                <p class="css-1rpfd8x e1kg4do43">
                            Do you want a Reserve or No Reserve auction?<!-- --> </p>
                                <div class="pe bgground">
                            <div><label class="css-datla1 e1e6pj724">
                         <input type="radio" value="true" id="Reserve" name="Reserve" class="class=" pe bgground"">
                            <span class="radio-text css-1q1372q e1e6pj720">Reserve</span></label>
                            <label class="css-datla1 e1e6pj724">
                             <input type="radio" id="NonReserve"  value="false" name="Reserve" class="class="pe bgground css-1q1372q">
                                            <span class="radio-text css-1q1372q e1e6pj720">No Reserve</span>
                                        </label>
                                    </div><div class="chakra-collapse bgground" style="overflow: initial; display:block; opacity: 1; height: auto;" id="VehicleReserve">
                                        <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                                        <p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs">
                                            <div class="css-bjn8wh e1coey30">
                                                <input type="text" placeholder="$ Enter Reserve Amount" value="@Model.ReserveRemaks"  name="ReserveRemaks">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="css-1a77sk6 e1kg4do42">Additional Information</p>
                            <div class="css-foou8n">
                            <p class="css-1rpfd8x e1kg4do43">Is there anything else we should know to determine if your vehicle is a good fit for auction (modifications, rare factory features/options, etc.)?</p>
                            <div class="css-h0wyg4"><div><div class="css-1q701y2 eddhcra1">
                            <button aria-pressed="true" type="button" id="AddInfoY" class="css-1v0z9x1 eddhcra0" fdprocessedid="3iv46d">Yes</button>
                            <button aria-pressed="false" type="button" id="AddInfoN" class="css-1v0z9x1 eddhcra0" fdprocessedid="dwgjp7">No</button></div>
                            <div id="AddInfoR" class="chakra-collapse" style="overflow: initial; display: block; opacity: 1; height: auto;">
                            <hr aria-orientation="horizontal" class="chakra-divider css-cnn4jn">
                            <p class="css-164y5wn e1kg4do43">Please explain below:</p><div class="css-j7qwjs"><div class="css-bjn8wh e1coey30">
                                                    <textarea id="20" name="otherInformation" name="AdInfoRemarks" placeholder="Enter details" data-invalid="false" rows="6" class="css-11b4gb5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="css-1a77sk6 e1kg4do42">Photos</p><div class="css-foou8n">
                            <div class="css-zoser8"><p class="css-1jccshs e1kg4do43">Please upload at least <strong>10 photos</strong> of your vehicle using the submission box below. 
                                Your photos will begin uploading when you click the 'Submit' button at the bottom of this form.<br><br>Include images of the interior and exterior that provide a sense for your vehicle's current condition. The higher quality your images are, the easier it will be for us to assess whether your vehicle is right for our platform.<br><br>
                            <strong>Need help taking photos? View our <a target="_blank" rel="noopener noreferrer" class="chakra-link css-1tue41d" href="/pdf/photo-tips-and-checklist.pdf">Photo Guide</a>!</strong></p>
                            <div>
                                        <input type="file" name="Images" multiple />
                            </div></div>
                            <hr aria-orientation="horizontal" class="chakra-divider css-4qkmcy"><div class="css-j7qwjs">
                                <p class="css-qz1zj3 e1kg4do43"><strong>What happens next:</strong> Once you submit this form, our team will review it to see if your vehicle is a good fit for Marqued. If it is, we'll contact you directly to discuss reserve pricing, create a listing page, and schedule a time for your upcoming auction.</p><div class="css-1vimnmh">
                                        <div class="css-1ws5l4v e184cwjp2"></div><button class="e1utt1ks0 css-133w2rq esewker4" asp-action="vehiclesubmission">
                                        <div class="account-btn"><span class="css-ju84ek esewker2">submit</span></div>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="alternate-signup-box">
                            <h6>or Sign up WITH</h6>
                            <div class="btn-group gap-4">
                                <a href="" class="google-btn d-flex align-items-center"><i class='bx bxl-google'></i><span>Signup whit google</span></a>
                                <a href="" class="facebook-btn d-flex align-items-center"><i class='bx bxl-facebook'></i>Sign up whit facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Javascript -->
    <!--- Internal Notify js -->
    <script src="~/assets/plugins/notify/js/notifIt.js"></script>
    <script src="~/assets/plugins/notify/js/notifit-custom.js"></script>
    <partial name="_Alert" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $('#loginForm').validate();
    </script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")

</body>

</html>