@model AMSModels.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- =============== breadcrumb area start =============== -->
    <div class="breadcrumb breadcrumb-style-one mb-0 ">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1 class="breadcrumb-title">Register</h1>
                <ul class="d-flex justify-content-center breadcrumb-items">
                    <li class="breadcrumb-item"><i class="bi bi-house-door"></i> <a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- =============== breadcrumb area end =============== -->
    <!-- =============== register-section start =============== -->

    <section class="register-section pt-110">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-12">
                    <div class="register-btn-group">
                        <a href="register" class="register-btn">Register</a>
                        <a href="login" class="login-btn">Login</a>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="register-left-area">
                        <h3>Welcome</h3>
                        <p>You are one step away.</p>
                        <a asp-action="Index" asp-controller="Home" class="transparent-btn">Back Home</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-form-area">
                        <h3>Register Your Account</h3>

                        <form action="Register" method="post" enctype="multipart/form-data" class="w-100">
                            <div class="form-inner">
                                <label>Full Name*</label>
                                <input type="text" name="FullName" class="form-control" value="@Model.FullName" placeholder="Full Name">
                                @Html.ValidationMessageFor(x=>x.FullName,string.Empty,new {@class="text-danger"})
                            </div>
                            <div class="form-inner">
                                <label>Email *</label>
                                <input type="email" name="Email" class="form-control" value="@Model.Email" placeholder="Your email">
                                @Html.ValidationMessageFor(x=>x.Email,string.Empty,new {@class="text-danger"})
                            </div>
                            <div class="form-inner">
                                <label>Password *</label>
                                <input type="password" name="password" id="password" class="form-control" value="@Model.Password" placeholder="password">
                                @Html.ValidationMessageFor(x=>x.Password,string.Empty,new {@class="text-danger"})
                                <i class="bi bi-eye-slash" id="togglePassword"></i>
                            </div>
                            <div class="form-inner">
                                <label>Confirm Password *</label>
                                <input type="password" name="password" id="password2" class="form-control" value="@Model.Password" placeholder="Confirm Password">
                                @Html.ValidationMessageFor(x=>x.Password,string.Empty,new {@class="text-danger"})
                                <i class="bi bi-eye-slash" id="togglePassword2"></i>
                            </div>
                        <div class="form-inner">
                            <label>Seller Type *</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" value="False" name="SellerType" checked="checked" id="rdrseller">
                                <label class="form-check-label" for="flexRadioDefault1"> Dealer</label>
                            </div>
                            <br />
                            <div class="form-check">
                                <input type="radio" class="form-check-input" value="true" name="SellerType" id="rdrPrivate">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Private Party
                                </label>
                            </div>
                        </div>
                            <div class="form-inner d-flex justify-content-between flex-wrap">
                                <div class="form-group">
                                    <input type="checkbox" id="html">
                                    <label for="html">Remember Me</label>
                                </div>
                                <a href="#" class="forgot-pass">Forgotten Password</a>
                            </div>
                            <button class="account-btn">CREATE AN ACCOUNT</button>
                        </form>
                    <div class="alternate-signup-box">
                        <h6>Already have account?</h6>
                        <div class="btn-group gap-4">
                            <a class="account-btn"  asp-action="Login">Login</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =============== register-section end =============== -->
