@model List<AddVehicle>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
﻿@{
    ViewData["Title"] = "Auctions";
    var appovedVehicels=Model.Where(x=>x.IsApproved=="1").ToList();
    var pendingVehicles = Model.Where(x => x.IsApproved == "0").ToList();
}
@if (@HttpContextAccessor.HttpContext.Session.GetString("Succesmsg") != null)
{
    <script type="text/javascript">
                                    window.onload = function () {
                                        swal("Request Save Succefully!", '@TempData["pesan"]', "success");
                                    };
                                        </script>
    }

    <div class="hero-area hero-style-two">
        <div class="swiper hero-slider-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero-item position-relative">
                <div class="hero-background-layer" style="
background-image: url('/images/img/bg1.jpeg');"></div>
                    <div class="hero-content-wrap">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="hero-content">
                                        <h1 class="hero-title">Welcome to car auction Best Platform</h1>
                                        <p>Middleton in objection discovery as agreeable. Edward thrown dinin. Nulla sem porta ullamcorper orci, scelerisque ullamcorper vitae.</p>
        
                                        <div class="hero-btns d-flex gap-5 align-items-center">
                                            <a href="auction.html" class="alpha-btn-md">All Auction</a>
                                            <div class="video-pluse">
                                                <span style="--i:1;"></span>
                                                <span style="--i:5;"></span>
                                                <span style="--i:3;"></span>
                                                <a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video-frame video-icon"><i class="bx bx-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 pt-5 pt-lg-0">
                                    <div class="row g-4">
                                        <div class="col-sm-6">
                                            <div class="product-card featured-product-card">
                                                <div class="product">
                                                    <img src="assets/images/product/feat-1.png" alt="">
                                                    <div class="id"><span>ID 0195543</span></div>
                                                </div>
                                                <div class="product-disc">
                                                    <h6 class="product-title"><a href="auction-details.html" class="">Smart fortwo coupe 1.0 Prime Sport Premium</a></h6>
                                                    <div class="product-auction">
                                                        <div class="price">
                                                            <span>From</span>
                                                            <h6>$79.00</h6>
                                                        </div>
                                                        <div class="countdown" id="week-countdown1">
                                                            <h6>  </h6>
                                                            <span>Waiting For Bid</span>
                                                        </div>
                                                    </div>
                                                    <a href="auction-details.html" class="bid-btn">Bid Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="product-card featured-product-card">
                                                <div class="product">
                                                    <img src="assets/images/product/feat-2.png" alt="">
                                                    <div class="id"><span>ID 0195543</span></div>
                                                </div>
                                                <div class="product-disc">
                                                    <h6 class="product-title"><a href="auction-details.html" class="">lamgergini New BOOM 800 Premium</a></h6>
                                                    <div class="product-auction">
                                                        <div class="price">
                                                            <span>From</span>
                                                            <h6>$79.00</h6>
                                                        </div>
                                                        <div class="countdown" id="week-countdown2">
                                                            <h6>  </h6>
                                                            <span>Waiting For Bid</span>
                                                        </div>
                                                    </div>
                                                    <a href="auction-details.html" class="bid-btn">Bid Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide hero-item position-relative">
                    <div class="hero-background-layer" style="background: url(./assets/images/banner/hero-banner2.png);"></div>
                    <div class="hero-content-wrap">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="hero-content">
                                        <h1 class="hero-title">Welcome to car auction Best Platform</h1>
                                        <p>Middleton in objection discovery as agreeable. Edward thrown dinin. Nulla sem porta ullamcorper orci, scelerisque ullamcorper vitae.</p>
        
                                        <div class="hero-btns d-flex gap-5 align-items-center">
                                            <a href="auction.html" class="alpha-btn-md">All Auction</a>

                                            <div class="video-pluse">
                                                <span style="--i:1;"></span>
                                                <span style="--i:5;"></span>
                                                <span style="--i:3;"></span>
                                                <a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="video-frame video-icon"><i class="bx bx-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 pt-5 pt-lg-0">
                                    <div class="row g-4">
                                        <div class="col-sm-6">
                                            <div class="product-card featured-product-card">
                                                <div class="product">
                                                    <img src="assets/images/product/feat-3.png" alt="">
                                                    <div class="id"><span>ID 0195765</span></div>
                                                </div>
                                                <div class="product-disc">
                                                    <h6 class="product-title"><a href="auction-details.html" class="">Masrati Mustang GT Premium</a></h6>
                                                    <div class="product-auction">
                                                        <div class="price">
                                                            <span>From</span>
                                                            <h6>$79.00</h6>
                                                        </div>
                                                        <div class="countdown" id="week-countdown3">
                                                            <h6>  </h6>
                                                            <span>Waiting For Bid</span>
                                                        </div>
                                                    </div>
                                                    <a href="auction-details.html" class="bid-btn">Bid Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="product-card featured-product-card">
                                                <div class="product">
                                                    <img src="assets/images/product/feat-4.png" alt="">
                                                    <div class="id"><span>ID 0195645</span></div>
                                                </div>
                                                <div class="product-disc">
                                                    <h6 class="product-title"><a href="auction-details.html" class="">Smart fortwo coupe 1.0 Prime Sport Premium</a></h6>
                                                    <div class="product-auction">
                                                        <div class="price">
                                                            <span>From</span>
                                                            <h6>$79.00</h6>
                                                        </div>
                                                        <div class="countdown" id="week-countdown4">
                                                            <h6>  </h6>
                                                            <span>Waiting For Bid</span>
                                                        </div>
                                                    </div>
                                                    <a href="auction-details.html" class="bid-btn">Bid Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- arrows -->
                <div class="slider-arrows text-center d-lg-flex d-none  justify-content-end">
                    <div class="hero-prev2 swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
                    <div class="hero-next2 swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
                </div>
            </div>

        </div>
    </div>
    <!-- =============== hero area end =============== -->
<div class="product-categorys-style-two mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two text-center">
                    <h3>Auction Product Category</h3>
                </div>
            </div>
        </div>

        <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3  row-cols-2 justify-content-center gy-4">
            <div class="col">
                <div class="single-category">
                    <div class="icon mx-auto ">
                        <img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
                        <img src="assets/images/icon/car-white.svg" alt="" class="icon2">
                        <div class="category-count"><span>30</span></div>
                    </div>
                    <h6>Tyota</h6>
                    <a href="auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="single-category">
                    <div class="icon mx-auto ">
                        <img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
                        <img src="assets/images/icon/car-white.svg" alt="" class="icon2">
                        <div class="category-count"><span>30</span></div>
                    </div>
                    <h6>Primio car</h6>
                    <a href="auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="single-category">
                    <div class="icon mx-auto ">
                        <img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
                        <img src="assets/images/icon/car-white.svg" alt="" class="icon2">
                        <div class="category-count"><span>30</span></div>
                    </div>
                    <h6>Audi</h6>
                    <a href="auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="single-category">
                    <div class="icon mx-auto ">
                        <img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
                        <img src="assets/images/icon/car-white.svg" alt="" class="icon2">
                        <div class="category-count"><span>30</span></div>
                    </div>
                    <h6>BMW</h6>
                    <a href="auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="single-category">
                    <div class="icon mx-auto ">
                        <img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
                        <img src="assets/images/icon/car-white.svg" alt="" class="icon2">
                        <div class="category-count"><span>30</span></div>
                    </div>
                    <h6>TESLA</h6>
                    <a href="auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="single-category">
                    <div class="icon mx-auto ">
                        <img src="assets/images/icon/car-gray.svg" alt="" class="icon1">
                        <img src="assets/images/icon/car-white.svg" alt="" class="icon2">
                        <div class="category-count"><span>30</span></div>
                    </div>
                    <h6>VOLKSWAGEN</h6>
                    <a href="auction.html" class="category-btn"><i class="bi bi-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =============== product category area end=============== -->
<!-- =============== product category area end=============== -->
<!-- ===============   live auction area start =============== -->
<div class="live-auction-area mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two">
                    <h3>Live Auction</h3>
                </div>
            </div>
        </div>

        <div class="row g-4">
            @if (appovedVehicels.Count() > 0)
            {
                foreach (var item in appovedVehicels)
                {
                    <div class="col-lg-4 col-md-6 ">
                        <div class="product-card product-beta-md">
                            <div class="product-header">
                                <h6 class="product-title"><a href="AuctionDetails">@item.FullName</a></h6>
                                <h4 class="price">@item.Year</h4>
                            </div>

                            <div class="product">
                                <img src="@Url.Content(item.VehicleImages?.FirstOrDefault().ImagePath)">
                                <div class="id"><span>ID 0195687</span></div>
                            </div>

                            <div class="product-disc">
                                <div class="product-acution">
                                    <div class="cv">
                                        <span>current Bid</span>
                                        <h6>$1,079.00</h6>
                                    </div>
                                    <div class="countdown" id="week-countdown5">
                                        <h6>  </h6>
                                        <span>Waiting For Bid</span>
                                    </div>
                                </div>

                                <a href="Vehicle/AuctionDetails?AvId=@item.AvId" class="bid-btn">Submit A Bid</a>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="view-btn mt-50 text-center">
                <a href="#" class="alpha-btn-md-dark">View All</a>
            </div>
        </div>
    </div>
</div>
<!-- ===============   live auction area end =============== -->
<!-- ===============   upcoming auction area start =============== -->
<div class="up-comming-auction-area mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two">
                    <h3>UpComing Auction</h3>
                </div>
            </div>
        </div>

        <div class="row g-4">
            @if (pendingVehicles.Count > 0)
            {
                foreach (var item in pendingVehicles)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product-card product-beta-sm">
                            <div class="product">
                                <img src="@Url.Content(item.VehicleImages?.FirstOrDefault().ImagePath)">
                                <div class="id"><span>@item.FullName</span></div>
                            </div>

                            <div class="product-disc">
                                <h6 class="product-title"> <a href="AuctionDetails">@item.FullName @item.Year</a> </h6>

                                <div class="product-acution">
                                    <div class="cv">
                                        <span>current Bid</span>
                                        <h6>$1,279</h6>
                                    </div>
                                    <div class="countdown" id="week-countdown11">
                                        <h6>  </h6>
                                        <span>Pending for approval</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- ===============   upcoming auction area end =============== -->
<!-- =============== win process area start=============== -->
<div class="win-process-area mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two text-center">
                    <h3>Easy 03 Steps To win</h3>
                </div>
            </div>
        </div>
        <div class="row g-4 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-process">
                    <span class="corner-1"></span>
                    <span class="corner-2"></span>
                    <div class="icon mx-auto">
                        <img src="/images/icon/process1.svg" alt="">
                    </div>
                    <div class="process-disc">
                        <h4><a href="login.html">Log in</a></h4>
                        <p>No Credit Card Required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-process">
                    <span class="corner-1"></span>
                    <span class="corner-2"></span>
                    <div class="icon mx-auto">
                        <img src="/images/icon/process2.svg" alt="">
                    </div>
                    <div class="process-disc">
                        <h4><a href="auction-details.html">Bid Now</a></h4>
                        <p>Bidding is Free Only If You Win</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-process">
                    <span class="corner-1"></span>
                    <span class="corner-2"></span>
                    <div class="icon mx-auto">
                        <img src="/images/icon/process3.svg" alt="">
                    </div>
                    <div class="process-disc">
                        <h4><a href="winner.html">Win</a></h4>
                        <p>Fun - Excitement - Great Deals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============== win process area end=============== -->
<!-- =============== top winner area start =============== -->
<div class="top-winner-area top-winnner-style-two mt-110">
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two">
                    <h3>Top winner</h3>
                </div>
            </div>
        </div>

        <div class="swiper winner-slider position-relative">
            <div class="swiper-wrapper ">
                <div class="swiper-slide">
                    <div class="winner-gamma">
                        <div class="winner-image">
                            <img src="assets/images/winner/winner-b1.png" alt="">
                        </div>
                        <div class="winner-info">
                            <h5 class="winner-name"><a href="winner.html">Esther Howard</a></h5>
                            <p class="id">ID: 0195608</p>

                            <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="winner-gamma">
                        <div class="winner-image">
                            <img src="assets/images/winner/winner-b2.png" alt="">
                        </div>
                        <div class="winner-info">
                            <h5 class="winner-name"><a href="winner.html">Eleanor Pena</a></h5>
                            <p class="id">ID: 0195608</p>

                            <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="winner-gamma">
                        <div class="winner-image">
                            <img src="assets/images/winner/winner-b3.png" alt="">
                        </div>
                        <div class="winner-info">
                            <h5 class="winner-name"><a href="winner.html">Albert Flores</a></h5>
                            <p class="id">ID: 0195608</p>

                            <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="winner-gamma">
                        <div class="winner-image">
                            <img src="assets/images/winner/winner-b4.png" alt="">
                        </div>
                        <div class="winner-info">
                            <h5 class="winner-name"><a href="winner.html">Robert Fox</a></h5>
                            <p class="id">ID: 0195608</p>

                            <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="winner-gamma">
                        <div class="winner-image">
                            <img src="assets/images/winner/winner-b5.png" alt="">
                        </div>
                        <div class="winner-info">
                            <h5 class="winner-name"><a href="winner.html">Jane Cooper</a></h5>
                            <p class="id">ID: 0195608</p>

                            <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="winner-gamma">
                        <div class="winner-image">
                            <img src="assets/images/winner/winner-b6.png" alt="">
                        </div>
                        <div class="winner-info">
                            <h5 class="winner-name"><a href="winner.html">Jenny Wilson</a></h5>
                            <p class="id">ID: 0195608</p>

                            <a href="winner.html" class="meta"><i class="bi bi-bag-plus"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- arrows -->
        <div class="slider-arrows text-center d-lg-flex d-none ">
            <div class="winner-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
            <div class="winner-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
        </div>
    </div>


</div>
<!-- =============== top winner area end =============== -->
<!-- =============== testimonial area start =============== -->
<div class="testimonial-area testimonial-style-two mt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header-two text-center">
                    <h3>Auction Winners Say</h3>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 align-items-center">
                <div class="testimonial-disc">
                    <p>Great reviews </p>
                    <h3>don't belive me! Check what client think of us ?</h3>

                    <!-- arrows -->
                    <div class="slider-arrows  d-lg-flex d-none gap-4">
                        <div class="testi-prev2 swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i> </div>
                        <div class="testi-next2 swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"><i class="bi bi-arrow-right"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="swiper testimonial-slider-two swiper-negetive-space-x pb-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-gamma">
                                <div class="testiminial-header">
                                    <div class="reviewer">
                                        <img src="assets/images/testimonial/testi-reviewer1.png" alt="">
                                    </div>
                                    <h5 class="reviewer-name"><a href="winner.html">avator Jaqob</a></h5>
                                    <p>Co-Founder</p>
                                    <ul class="testimonial-rating">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testiminial-body">
                                    <p>Nulla facilisi. Etiam sit amet libero a dolor malesuada faucibus. Suspendisse non massa id orci tempor</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-gamma">
                                <div class="testiminial-header">
                                    <div class="reviewer">
                                        <img src="assets/images/testimonial/testi-reviewer2.png" alt="">
                                    </div>
                                    <h5 class="reviewer-name"><a href="winner.html">Robert Jox</a></h5>
                                    <p>Winner 02</p>
                                    <ul class="testimonial-rating">
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                        <li><i class="bx bxs-star"></i></li>
                                    </ul>
                                </div>
                                <div class="testiminial-body">
                                    <p>Nulla facilisi. Etiam sit amet libero a dolor malesuada faucibus. Suspendisse non massa id orci tempor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============== testimonial area end =============== -->
<!-- =============== sponsor area start=============== -->

<div class="sponsor-area sponsor-style-one pt-110 pb-110">
    <div class="container">
        <div class="row row-cols-xxl-6 row-cols-md-4 row-cols-sm-3 row-cols-2 g-3 d-flex justify-content-center">
            <div class="col">
                <div class="sponsor-logo">
                    <img class="gray-img" src="assets/images/collection/sp1.png"
                         alt="">
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="assets/images/collection/sp2.png
                    " alt="">
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="assets/images/collection/sp3.png
                    " alt="">
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="assets/images/collection/sp4.png
                    " alt="">
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="assets/images/collection/sp3.png
                    " alt="">
                </div>
            </div>
            <div class="col">
                <div class="sponsor-logo">
                    <img src="assets/images/collection/sp4.png
                    " alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =============== sponsor area end=============== -->
<!-- =============== newslatter area start=============== -->
<div class="newslatter-area newslatter-style-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="newslatter-content text-center">
                    <h2>Sign Up for our Newsletter to Stay Up to Data With tech News!</h2>

                    <form action="#" id="newslatter_form">
                        <div class="newslatter-input d-flex flex-sm-nowrap flex-wrap justify-content-center align-items-center gap-md-4 gap-2">
                            <input type="text" placeholder="Enter Your Email Address">
                            <button type="submit" class="text-uppercase">subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============== newslatter area end=============== -->
