@model AddVehicle
@{
    ViewData["Title"] = "Vehicle Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage vehicle</h1>
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-action="CreateManager" class="btn btn-info">Create</a></li>
                </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Vehicle Details</h3>

            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Price</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.ReserveRemaks USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Year</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.Year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Manufacturer</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.Make</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Description</h4>
                            <div class="post">
                                <div class="user-block">
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    Vehicle Purchase(Month/Year): @Model.VehiclePurchaseMoth/@Model.VehiclePurchaseYear
                                </p>
                            </div>

                            <div class="post clearfix">
                                <div class="user-block">
                                    <span class="username">
                                        <a href="#">Ownership Description:</a>
                                    </span>
                                    <span class="description"></span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    @Model.VownershipRemarks
                                </p>
                            </div>
                            <div class="post clearfix">
                                <div class="user-block">
                                    <span class="username">
                                        <a href="#">Additional Information:</a>
                                    </span>
                                    <span class="description"></span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    @Model.AdInfoRemarks
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-vehicle"></i> @Model.FullName</h3>
                    <p class="text-muted">@Model.AdInfoRemarks</p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">
                            Dealer/Private Party
                            <b class="d-block"></b>
                        </p>
                        <p class="text-sm">
                            <i class="fas fa-map-marker mr-1"></i> Car Location
                            <b class="d-block">@Model.VehicleLocated</b>
                        </p>
                    </div>

                    <h5 class="mt-5 text-muted">Vehicle Images:</h5>
                    <ul class="list-unstyled">
                        @if (Model.VehicleImages!=null)
                        {
                            foreach (var item in Model.VehicleImages)
                            {
                                <li class="pb-3">
                                    <a href="@Url.Content(item.ImagePath)" target="_blank" class="btn-link text-secondary"><img width="100" src="@Url.Content(item.ImagePath)" /></a>
                        </li>
                            }
                        }
                    </ul>
                    @if (Model.IsApproved!="1")
                    {
                        <div class="mt-5 mb-3">
                        <a class="btn btn-primary" asp-action="ApproveVehicle" asp-controller="Admin" asp-route-Id="@Model.AvId">Approve</a>
                        @*<a href="#" class="btn btn-sm btn-warning">Reject</a>*@
                    </div>
                    }
                    
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->